*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container
{
    
    background: linear-gradient(90deg, rgb(8, 4, 89) 0%, rgba(83, 35, 75, 0.309) 35%, rgb(25, 110, 127) 100%);
    height: 100%;
    width: auto;
    overflow-x: none;
}
.navContainer
{
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );
}


#navlist
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#navlist2
{
    margin: 20px 25px 10px 0;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
}

#navlist2 a
{
    margin: 0 40px;
    color: wheat;
    text-decoration: none;
}



#navlist2 a:hover
{
    color: rgb(214, 206, 221);
    transform: scale(1.2);
    transition: 0.s ease-in-out 0.5s;
}

#navlist1:hover
{
    transform: scale(1.2);
    padding-left: 10px;
    transition: 0.2s;
}

#navheading
{
    margin-top: 18px;
    margin-left: 15px;
    text-shadow: 40px;
}

#navheading a
{
    font-size: 25px;
    color: wheat;
    text-decoration: none;
}
#navheading :hover
{
    color: rgb(214, 206, 221);
    transition: 0.35s;
}

.footerBox
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(249,232,51,1) 0%, rgba(250,196,59,1) 100.2% );
    text-align: center;
    width: 100%;
    height: 35px;
    padding-top: 10px;
}

.footerBox p
{
    color: darkblue;
    font-size: 15px;
}

.contentbox
{
    width: 60%;
    margin: auto;
    background-color:rgb(167, 124, 72);
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 40px;
    box-shadow: 0px 0px  30px black;
}
.item1
{
    display: flex;
    justify-content: space-around;
}

.rightbox
{
    position: relative;
    overflow: hidden;
    display: flex;
}

.rightbox img
{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.rightbox:hover
{
    transform: scale(1.2); 
    transition: 0.5s;
}

@media (max-width:400px)
{
    .item1
    {
        flex-direction: column;
    }
}

.item2
{
    display: flex;
    justify-content: space-around;
}

@media (max-width:400px)
{
    .item2
    {
        flex-direction: column;
    }
}
#sweet1
{
    color: rgb(8, 222, 246);
    font-size: 35px;
}

#sweet2
{
    color: rgb(8, 222, 246);
    font-size: 35px;
}

.leftbox
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightbox .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(88, 87, 87, 0.723);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 1;
    transition: 0.4s;
}

.rightbox:hover .overlay
{
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}

.rightbox .overlay span
{
    color: darkblue;
}